<?xml version="1.0" encoding="utf-8"?>

<robot name="tars4">
    <gazebo>
  <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
    <updateRate>100.0</updateRate>
    <robotNamespace>tars4</robotNamespace>
    <leftFrontJoint>frontleftjoint</leftFrontJoint>
    <rightFrontJoint>frontrightjoint</rightFrontJoint>
    <leftRearJoint>backleftjoint</leftRearJoint>
    <rightRearJoint>backrightjoint</rightRearJoint>
    <wheelSeparation>0.495</wheelSeparation>
    <wheelDiameter>0.205</wheelDiameter>
    <robotBaseFrame>base_link</robotBaseFrame>
    <torque>20</torque>
    <topicName>cmd_vel</topicName>
    <broadcastTF>true</broadcastTF>
  </plugin>
</gazebo>


</robot>
