<gazebo>
  <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
    <updateRate>100.0</updateRate>
    <robotNamespace>/</robotNamespace>
    <leftFrontJoint>frontleftjoint</leftFrontJoint>
    <rightFrontJoint>frontrightjoint</rightFrontJoint>
    <leftRearJoint>backleftjoint</leftRearJoint>
    <rightRearJoint>backrightjoint</rightRearJoint>
    <wheelSeparation>0.495</wheelSeparation>
    <wheelDiameter>0.205</wheelDiameter>
    <robotBaseFrame>base_link</robotBaseFrame>
    <torque>20</torque>
    <commandTopic>cmd_vel</commandTopic>
    <odometryTopic>odom</odometryTopic>
    <odometryFrame>odom</odometryFrame>
    <broadcastTF>true</broadcastTF>
    <covariance_x>0.001</covariance_x> <!-- 0.0001 -->
    <covariance_y>0.001</covariance_y> <!-- 0.0001 -->
    <covariance_yaw>0.01</covariance_yaw> <!-- 0.01 -->
  </plugin>
</gazebo>